[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jaccard"]
	path = jaccard
	url = https://github.com/ncchung/jaccard
[submodule "jackstraw"]
	path = jackstraw
	url = https://github.com/ncchung/jackstraw
